.login-page{
 text-align: center;
  margin: auto;
  border: black solid;
  margin-left: 30%;
  margin-right: 30%;

}
.login-page input{

  border-radius: 10px;
}

.register-page{
  text-align: center;
  margin: auto;
  border: black solid;
  margin-left: 30%;
  margin-right: 30%;

}
.register-page input{

  border-radius: 10px;
}
